*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

HTML {
  font-size: 62.5%;
}

/* Variables */
:root {
  --site-primary-color: #335576;
  --site-secondary-color: #db7a4e;
  --site-background-color: #fefaf5;

  /* fonts */
  --base-font: Verdana, sans-serif;
}

/* buttons */
.hero__btn {
  border: none;
  padding: 1.1rem 4rem;
  border-radius: 2rem;
  background-color: var(--site-secondary-color);
  color: #fff;
  font-size: 1.5rem;
  transition: background-color 0.4s ease, transform 0.3s ease;
}
.hero__btn:hover {
  background-color: #ea804f;
}

body {
  font-weight: 400;
  font-family: var(--base-font);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--site-primary-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  height: auto;
}

.header__logo {
  color: var(--site-primary-color);
  font-size: 2.3rem;
  text-decoration: none;
  padding: 1rem;
}

.header__logo:hover {
  color: var(--site-secondary-color);
}

.nav {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin: auto 0;
}

.nav__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  padding: 1.5rem;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  position: relative;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: var(--site-secondary-color);
  position: absolute;
  bottom: -10px;
  left: 0;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}

.nav__link--active::after {
  visibility: visible;
}

.footer {
  padding: 4rem;
  background-color: var(--site-background-color);
}

.footer__h3 {
  font-size: 2.4rem;
  color: var(--site-primary-color);
  padding: 1rem 0;
}

.footer__contact,
.footer__hours,
.footer__subtitle,
.footer__p {
  padding: 1rem 0;
}

.footer__subtitle {
  color: var(--site-secondary-color);
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.fab {
  font-size: 3rem;
  margin-right: 2rem;
  color: var(--site-primary-color);
  padding: 1rem 0;
}
